@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --content-max-width: 1200px;
    --main-colour: #1795DD;
    --background-colour: #FCFAF6;
    --home-text-colour: #52514e;
    --button-text-colour: white;
    --project-card-background: white;
    --project-card-header: black; 
    --project-card-text: #888;
    --intro-text-header: black;
    --button-hover-background: white;
    --divider-colour: black;
}

.dark-mode {
    --main-colour: #1E90FF;
    --background-colour: #262625;
    --home-text-colour: #c4c2c2;
    --button-text-colour: white;
    --project-card-background: #2b2e31;
    --project-card-header: #e4e4e4;
    --project-card-text: #888;
    --intro-text-header: #e4e4e4;
    --buton-hover-background: #2b2e31;
    --divider-colour: #e4e4e4;
}

* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    padding-top: 6.5rem;
    background: var(--background-colour);
    transition: 0.3s ease-in-out all;
}

main {
    background-color: var(--background-colour);
    width: 80vw;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding-top: 14px;
    transition: 0.3s ease-in-out all;
}

/* 
==========================================================
Home Intro Section
==========================================================
*/

.home-intro {
    display: grid;
    /* border-bottom: 2px solid grey; */
}

.home-intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    /* border: 2px solid red; */
    transition: 0.3s ease-in-out all;
}

.home-intro-text h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin: 0;
    color: var(--intro-text-header);
    transition: 0.3s ease-in-out all;
}

.home-intro-text h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: 700;
    color: var(--main-colour);
    transition: 0.3s ease-in-out all;
}

.home-intro-text p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--home-text-colour);
    transition: 0.3s ease-in-out all;
}

.page-button {
    width: 180px;
    height: 57px;
    background: var(--main-colour);
    border-radius: 4px;
    border: 2px solid var(--main-colour);
    display: inline-flex;
    font-size: 20px;
    font-weight: 350;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;
    cursor: pointer;
    color: var(--button-text-colour);
    transition: 0.3s ease-in-out all;
}

.dark-mode .page-button {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}

.page-button:hover{
    background-color: var(--buton-hover-background);
    color: var(--main-colour);
}

.page-button:hover a {
    color: var(--main-colour); 
}

.page-button a {
    color: var(--button-text-colour);
    text-decoration: none; 
    transition: 0.4s;
}

.home-intro-image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out all;
}

.home-intro-image img {
    height: 400px;
    width: 400px;
    transition: 0.3s ease-in-out all;
}

.home-about {
    display: grid;
}

.home-about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s ease-in-out all;
}

.home-about-text p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--home-text-colour);
    transition: 0.3s ease-in-out all;
}

.home-about-image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out all;
}

.home-about-image img {
    border-radius: 8px;
    height: 25rem;
    width: 25rem;
}

.theme-img {
    display: none;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transition: 0.3s ease-in-out all;
}

body.dark-mode .dark-img {
    display: block;
}

body:not(.dark-mode) .light-img {
    display: block;
}

/* Light mode shows light image */
/* body:not(.dark-mode) .light-img {
    opacity: 1;
    visibility: visible;
} */

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media screen and (min-width: 768px) {
    
    .home-intro-image img {
        height: 400px;
        width: 400px;
    }

    .home-about-text p {
        margin-top: 30px;
        font-size: 16px;
        padding-right: 0;
    }
}

@media screen and (min-width: 1170px) {
    .home-intro {
        grid-template-columns: 4fr 3fr;
    }

    .home-about {
        grid-template-columns: 4fr 4fr;
    }

    .home-intro-image img {
        margin-left: 80px;
        height: 430px;
        width: 440px;
    }

    .home-about-image img {
        height: 450px;
        width: 450px;
    }

    .theme-img {
        position: absolute; 
    }

    .home-intro-text h1 {
        font-size: 55px;
    }
    
    .home-intro-text h3 {
        font-size: 35px;
    }
    
    .home-intro-text p {
        font-size: 20px;
    }

    .home-intro-text {
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-top: 0;
    }
}

@media screen and (min-width: 1450px) {
    .home-about-text p {
        padding-right: 40px;
        font-size: 17px;
    }

    .home-about-image img {
        height: 500px;
        width: 500px;
    }
}

.border {
    margin-top: 50px;
    border-top: 1px grey solid;
    height: 50px;
}

/* 
==========================================================
Home Projects Section
==========================================================
*/

.recent-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 30px;
    padding-top: 0;
    transition: 0.3s ease-in-out all;
}

.home-divider h5 {
    margin-top: 15px;
    font-weight: 300;
    font-size: 15px;
    color: var(--divider-colour); 
    transition: 0.3s ease-in-out all;
}

.home-divider span a {
    font-weight: 400;
    text-decoration: none;
    color: var(--main-colour);
    position: relative;
    padding: 3px 3px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 3px;
    transition: 0.3s ease-in-out all;
}

.home-divider span a:hover {
    color: var(--button-text-colour);
    box-shadow: inset 110px 0 0 0 var(--main-colour);
}

.home-project-grid {
    display: grid;
    gap: 2rem 2rem; 
}

.home-project-grid a {
    text-decoration: none;
}

.home-project-card {
    background: var(--project-card-background);
    border: 1px solid #000;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    margin-bottom: 40px;
    transition: 0.3s ease-in-out all;
}

.home-project-card:hover {
    transform: translateY(-5px);
}

.home-project-card img {
    width: 100%;
    max-height: 280px; 
    border-bottom: 1px solid #ccc;
}

.home-project-card h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 16px 0 16px;
    margin: 0;
    color: var(--project-card-header);
    transition: 0.3s ease-in-out all;
}

.home-project-card .project-type {
    padding: 8px 16px 16px 16px;
    font-size: 14px;
    color: var(--project-card-text);
    margin: 0;
}

@media (min-width: 800px) {
    .home-project-grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem 2rem; 
    }
}