@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --content-max-width: 1200px;
    --main-colour: #1795DD;
    --background-colour: rgba(252, 250, 246, 0.95);
    --nav-border: black;
    --nav-link-colour: black;
}

.dark-mode {
    --main-colour: #1E90FF;
    --background-colour: rgba(58, 58, 59, 0.95);
    --nav-border: #5a5a5e;
    --nav-link-colour: #e4e4e4;
}

* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

/* 
==========================================================
NAV BAR
==========================================================
*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 250, 246, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--nav-border);
    flex-direction: column;
    z-index: 1000;
    transition: 0.3s ease-in-out all;
}

body.dark-mode .navbar {
    background-color: rgba(34, 34, 33, 0.95);
}

.nav-container {
    width: 80vw;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.nav-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
}

.nav-logo {
    position: relative;
    display: inline-block;
    color: var(--main-colour);
    font-size: 32px;
    font-weight: 700;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.4s ease;
}

/* Nav Logo Hover inspired by */
/* REF: https://prismic.io/blog/css-text-animations */
.nav-logo:hover {
    transform: scale(1.08);
}

.nav-logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.7), transparent);
    opacity: 0;
}

.dark-mode .nav-logo::after {
    background: linear-gradient(120deg, transparent, rgba(34, 34, 33, 0.7), transparent);
}

.nav-logo:hover::after {
    animation: scan 1.5s ease-in-out infinite;
    opacity: 1;
}

@keyframes scan {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.hambgr-btn {
  background-color: var(--main-colour);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 10px 15px;
  text-align: center;
  text-transform: none;
  transition: all 0.1s;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.show-links {
    height: 300px;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 18px 0;
    border-top: 1px solid var(--main-colour);
    list-style: none;
    font-size: 18px;
    color: var(--nav-link-colour);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a {
    color: var(--nav-link-colour);
    text-decoration: none;
    cursor: pointer;
}

.nav-link i {
    width: 20px;
}

.nav-link:hover {
    color: var(--main-colour);
}

#scroll-progress {
    align-self: flex-start; 
    height: 3px;
    width: 0%;
    background-color: var(--main-colour);
    transition: width 0.2s ease-out;
}

@media screen and (min-width: 990px) {
    .hambgr-btn {
        display: none;
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    .nav-header {
        height: 6.5rem;
    }

    .nav-links {
        height: auto;
        align-items: center;
        flex-direction: row;
        margin-left: auto; 
    }

    .nav-link {
        padding: 3px 7px;
        border-top: none;
        margin-left: 30px;
        font-size: 20px;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        box-shadow: inset 0 0 0 0 var(--main-colour);
        border-radius: 3px;
        color: var(--nav-link-colour);
    }

    .nav-link.active-page {
        color: var(--main-colour);
    }

    .nav-link:hover {
        color: white;
        box-shadow: inset 110px 0 0 0 var(--main-colour);
    }

}

